@charset "UTF-8";


/** GLOBAL STYLES **/ 

.container	{
	height: auto; 
	margin-left: auto; 
	margin-right: auto; 
	max-width: 1200px; 
}


@font-face {
    font-family: 'segoe-light';
    src: url('fonts/segoeuil.eot');
    src: url('fonts/segoeuil.eot?#iefix') format('embedded-opentype'),
         url('fonts/segoeuil.woff') format('woff'),
         url('fonts/segoeuil.ttf') format('truetype'),
         url('fonts/segoeuil.svg#segoe-light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'segoe-bold';
    src: url('fonts/seguisb.eot');
    src: url('fonts/seguisb.eot?#iefix') format('embedded-opentype'),
         url('fonts/seguisb.woff') format('woff'),
         url('fonts/seguisb.ttf') format('truetype'),
         url('fonts/seguisb.svg#segoe-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1, h2, h3, h4, h5, a, p, ul, li	{
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
}

body	{
	background-color: white; 
}


/** HEADER **/

.topborder	{
	height: 10px; 
	width: 100%; 
	background-color: #26C9FF; 
}

header	{
	height: 46em; 
	width: 100%; 
	background-color: #1F1D1E; 
}

/*#nav	{
	margin-left: 24%; 
	font-family: 'segoe-bold', Helvetica, Arial, Sans-Serif; 
}

#nav a	{
	display: block; 
	text-decoration: none; 
	color: white; 
	width: 10%; 
	height: 5%; 
	font-size: .7em; 
	float: left; 
	margin-top: 1.5%; 
	text-align: center; 
	margin-left: 10%; 
}

#nav a:active	{
	color: #26C9FF; 
}
*/


.logo	{
	margin-bottom: 10%; 
}

#welcome	{
	clear: both; 
	float: left; 
	width: 28%; 
	height: 390px; 
	margin-left: 8%; 
	margin-top: 8%; 
	height: auto; 
}

#welcome img	{

}

#welcome h1	{
	color: #858585; 
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
	font-size: 1.0em; 
	font-weight: 100; 
	line-height: 1.3em; 
	margin-bottom: 1em; 
}

.bottomborder	{
	width: 1em; 
	border-bottom: 2px solid #858585; 
	margin-bottom: 7%; 
}

#welcome h2	{
	color: white; 
	font-size: 1em; 
	margin-bottom: 7%; 
	font-family: 'segoe-bold', Helvetica, Arial, Sans-Serif;
	letter-spacing: 1px;  
}

#welcome p	{
	font-size: .8em; 
	line-height: 1.5em; 
	font-weight: 100; 
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
font-weight: 100; 
}

.textwhite	{
	color: white; 
	margin-bottom: 20%; 
}

.textgrey	{
	color: #858585; 
}

#welcome a	{
	color: white; 
	text-decoration: none; 
}

#welcome: a:active	{
	color: #26C9FF;
}

#hero	{
	margin-top: 17%; 
	margin-left: 8%; 
	width: 54%; 
	height: 390px; 
	float: left; 
}

#hero img	{
	margin-left: auto; 
}


/** CONTENT **/

#contentheader	{
	height: 3.5em; 
	width: 100%; 
	background-color: #26C9FF; 
}

#contentheader h4	{
	margin-left: 8%; 
	color: white; 
	line-height: 4em; 
	font-family: 'segoe-bold', Helvetica, Arial, Sans-Serif; 
font-size: .9em; 
	font-weight: 100; 
}

#content	{
	clear: both; 
	margin-left: 10%; 
	margin-right: 0%; 
	height: auto; 
}

/** BLOG POST CONTENT **/ 

.section	{
	margin-bottom: 15%; 
}

.section h3	{
	font-family: 'segoe-bold', Helvetica, Arial, Sans-Serif; 
	color: #858585; 
	font-size: 1em; 
	margin-top: 7%; 
	margin-bottom: 4%; 
}

.left, .right	{
	width: 44%; 
	height: auto; 
	float: left; 
	margin-right: 6%; 
	float: left; 
}

.dont	{
	background-image: url(../img/dont_icon.png); 
	float: left; 
	background-repeat: no-repeat; 
	padding-left: 12%; 
	height: 2.8em; 
}

.do	{
	background-image: url(../img/do_icon.png); 
	float: left; 
	background-repeat: no-repeat; 
	padding-left: 12%; 
	height: 2.8em; 
}

.do, .dont	{
	color: #858585; 
	font-size: .9em; 
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
	font-weight: 100; 
	line-height: 1.3em;
	margin-bottom: 15%;  
	max-width: 300px; 
	margin-left: 3%; 
}

/** IMAGE CONTENT **/
	
.tablet1	{
	background-image: url(../img/tablet.png), url(../img/splash/background_img_dont.png); 
	background-repeat: no-repeat; 
	background-position: left; 
	background-size: 100% auto; 
	height: 300px;
	padding-top: 2%; 
}

.tablet2	{
	background-image: url(../img/tablet.png), url(../img/splash/background_img_do.png); 
	background-repeat: no-repeat; 
	background-position: left; 
	background-size: 100% auto; 
	height: 300px;
	padding-top: 2%; 
}

.bareimage	{
	margin-left: 9%; 
	margin-bottom: 4%; 
}


/** FOOTER **/

footer	{
	clear: both; 
	margin-top: 4%; 
	height: 80px; 
	width: 100%; 
	background-color: #26C9FF; 
}

#ratiologo	{
	margin-left: 8%; 
	height: 60px; 
	width: 60px; 
	margin-top: 11px; 
	float: left; 
}

#ratiologo img	{
	width: 100%; 
	height: auto; 
}

.marginleft	{
	margin-left: 37%; 
}

footer a	{
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
	color: white; 
	font-size: .8em; 
	font-weight: 100; 
	display: block; 
	float: left; 
	width: 50%; 
	height: 3%; 
	margin-top: 38px; 
	text-decoration: none; 
}



@media only screen and (min-width: 481px) and (max-width: 768px) {

/*#nav	{
	margin-left: 15%; 
}

#nav a	{
	display: block; 
	text-decoration: none; 
	color: white; 
	width: 15%; 
	height: 5%; 
	font-size: .8em; 
	float: left; 
	margin-top: 2%; 
	text-align: center; 
	margin-left: 10%; 
}
*/
header	{
	height: 65em; 
	width: 100%; 
	background-color: #1F1D1E; 
}

.logo	{
	margin-top: 5%; 
	margin-bottom: 5%; 
	margin-left: 46%; 
}


#welcome	{
	clear: both; 
	float: left; 
	width: 90%; 
	height: 320px; 
	margin-left: 5%;
	margin-right: 5%;  
	margin-top: 8%; 
}

#welcome img	{

}

#welcome h1	{
	color: #858585; 
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
	font-size: 1.0em; 
	font-weight: 100; 
	line-height: 1.3em; 
	margin-bottom: 1.4em; 
	text-align: center; 
	margin-left: 1%; 
}

.bottomborder	{
	width: 1.8em; 
	border-bottom: 2px solid #858585; 
	margin-bottom: 4%; 
	margin-left: 49%; 
}

#welcome h2	{
	color: white; 
	font-size: .9em; 
	margin-bottom: 5%; 
	font-family: 'segoe-bold', Helvetica, Arial, Sans-Serif;
	text-align: center; 
	margin-left: 2%; 
}

#welcome p	{
	font-size: .8em; 
	line-height: 1.6em; 
	font-weight: 100; 
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
font-weight: 100; 
	margin-left: 8%; 
	margin-right: 8%; 
	text-align: center; 
}

.textwhite	{
	color: white; 
	margin-bottom: 2%; 
}

.textgrey	{
	color: #858585; 
}

#welcome a	{
	color: white; 
	text-decoration: none; 
}

#welcome: a:active	{
	color: #26C9FF;
}


#hero	{
	margin-top: 33%; 
	margin-left: 5%;
	margin-right: 5%;  
	width: 90%; 
	height: 400px; 
	float: left; 
	text-align: center; 
}

#hero img	{
	width: 70%; 
	height: auto; 
}


/** CONTENT **/

#content	{
	clear: both; 
	height: auto; 
	margin-left: 4%; 
}

#contentheader	{
	height: 3.5em; 
	width: 100%; 
	background-color: #26C9FF; 
}

#contentheader h4	{
	margin-left: 0%; 
	color: white; 
	line-height: 4em; 
	font-family: 'segoe-bold', Helvetica, Arial, Sans-Serif; 
	font-size: .9em; 
	font-weight: 100; 
	text-align: center; 
}

/** BLOG POST CONTENT **/ 

.section	{
}

.section h3	{
	font-family: 'segoe-bold', Helvetica, Arial, Sans-Serif; 
	color: #858585; 
	font-size: .9em; 
	margin-top: 7%; 
}

.left, .right	{
	width: 50%; 
	height: auto; 
	float: left; 
	margin-right: 0%; 
}

.bareimage	{
	width: 80%; 
	height: auto; 
	margin-left: 9%; 
	margin-bottom: 4%; 
}

.dont	{
	background-image: url(../img/dont_icon.png); 
	float: left; 
	background-repeat: no-repeat; 
	padding-left: 16%; 
	height: 2.8em; 
}

.do	{
	background-image: url(../img/do_icon.png); 
	float: left; 
	background-repeat: no-repeat; 
	padding-left: 16%; 
	height: 2.8em; 
	margin-bottom: 38%;  
}

.do, .dont	{
	color: #858585; 
	font-size: .9em; 
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
	font-weight: 100; 
	line-height: 1.2em;
	width: 70%; 
}

.tablet	{
	float: left; 
	background-image: url(../img/tablet.png); 
	background-repeat: no-repeat; 
	background-position: left; 
	background-size: contain; 
	width: 85%; 
	height: 260px; 
}


/** FOOTER **/

footer	{
	clear: both; 
	height: 250px; 
	width: 100%; 
	background-color: #26C9FF; 
}

#ratiologo	{
	height: 115px; 
	width: 90%; 
	margin-top: 30px; 
	float: left; 
	text-align: center; 
	margin-bottom: 2%; 
}

#ratiologo img	{
	margin-top: 12px; 
	width: 110px; 
	height: auto; 
}

.marginleft	{
	margin-left: 0; 
}

footer a	{
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
	color: white; 
	font-size: .8em; 
	font-weight: 100; 
	display: block; 
	float: left; 
	width: 95%; 
	height: 3%; 
	margin-top: 10px; 
	text-decoration: none; 
	text-align: center; 
	margin-left: 5%; 
}


}


@media only screen and (min-width: 300px) and (max-width: 480px) {
	
.topborder	{
	height: 10px; 
	width: 100%; 
	background-color: #26C9FF; 
	float: left; 
	margin-bottom: 30px; 
}

#nav	{
	margin-left: 2%;
	float: left;  
}

#nav a	{
	display: block; 
	text-decoration: none; 
	color: white; 
	width: 100%; 
	height: 2.4em; 
	font-size: .9em; 
	float: left; 
	text-align: left; 
	margin-top: .9em;
	line-height: 1.6em; 
}

header	{
	height: 62em; 
	width: 100%; 
	background-color: #1F1D1E; 
}

.logo	{
	margin-top: 5%; 
	margin-bottom: 8%; 
	margin-left: 42%; 
}


#welcome	{
	clear: both; 
	float: left; 
	width: 90%; 
	height: 320px; 
	margin-left: 5%;
	margin-right: 5%;  
	margin-top: 8%; 
	height: auto; 
}

#welcome img	{

}

#welcome h1	{
	color: #858585; 
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
	font-size: 1em; 
	font-weight: 100; 
	line-height: 1.3em; 
	margin-bottom: 1em; 
	text-align: center; 
	margin-left: 1%; 
}

.bottomborder	{
	width: 2.2em; 
	border-bottom: 2px solid #858585; 
	margin-bottom: 7%; 
	margin-left: 46%; 
}

#welcome h2	{
	color: white; 
	font-size: .9em; 
	margin-bottom: 5%; 
	font-family: 'segoe-bold', Helvetica, Arial, Sans-Serif;
	text-align: center; 
	margin-left: 2%; 
}

#welcome p	{
	font-size: .8em; 
	line-height: 1.6em; 
	font-weight: 100; 
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
	font-weight: 100; 
	margin-left: 5%; 
	margin-right: 5%; 
	text-align: center; 
}

.textwhite	{
	color: white; 
	margin-bottom: 2%; 
}

.textgrey	{
	color: #858585; 
}

#welcome a	{
	color: white; 
	text-decoration: none; 
}

#welcome: a:active	{
	color: #26C9FF;
}


#welcome img	{

}

#hero	{
	margin-top: 10%; 
	margin-left: 5%;
	margin-right: 5%;  
	width: 90%; 
	height: 240px; 
	float: left; 
	text-align: center; 
}

#hero img	{
	width: 85%; 
	height: auto; 
}

/** CONTENT **/

#content	{
	clear: both; 
	margin-left: 2%; 
	margin-right: 2%; 
}

#contentheader	{
	height: 50px; 
	width: 100%; 
	background-color: #26C9FF; 
}

#contentheader h4	{
	margin-left: 0%; 
	color: white; 
	line-height: 50px; 
	font-family: 'segoe-bold', Helvetica, Arial, Sans-Serif; 
font-size: .9em; 
	font-weight: 100; 
	text-align: center; 
}

/** BLOG POST CONTENT **/ 

.section	{
	clear: both; 
}

.section h3	{
	font-family: 'segoe-bold', Helvetica, Arial, Sans-Serif; 
	color: #858585; 
	font-size: .9em; 
	margin-top: 20%; 
	text-align: center; 
}

.left, .right	{
	width: 85%; 
	height: auto; 
	float: left; 
	margin-right: 0%; 
}

.bareimage	{
	width: 80%; 
	height: auto; 
	margin-left: 20%; 
	margin-bottom: 4%; 
}

.dont	{
	background-image: url(../img/dont_icon.png); 
	float: left; 
	background-repeat: no-repeat; 
	padding-left: 16%; 
	height: 2.8em; 
}

.do	{
	background-image: url(../img/do_icon.png); 
	float: left; 
	background-repeat: no-repeat; 
	padding-left: 16%; 
	height: 2.8em; 
	margin-bottom: 30%; 
}

.do, .dont	{
	color: #858585; 
	font-size: .9em; 
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
	font-weight: 100; 
	line-height: 1.2em;
	margin-left: 13%; 
	width: 75%; 
}

.left img, .right img	{

}

.tablet	{
	margin-left: 18%; 
	float: left; 
	background-image: url(../img/tablet.png); 
	background-repeat: no-repeat; 
	background-position: left; 
	background-size: contain; 
	width: 85%; 
	height: 220px; 
}

.tablet img	{
	margin-left: 16%; 
	width: 80%; 
	height: auto; 
	top: 5%; 
}



/** FOOTER **/

footer	{
	height: 250px; 
	width: 100%; 
	background-color: #26C9FF; 
}

#ratiologo	{
	height: 110px; 
	width: 90%; 
	margin-top: 5%; 
	float: left; 
	text-align: center; 
	margin-bottom: 2%; 
	margin-left: 5%; 
}

#ratiologo img	{
	margin-top: 10px; 
	width: 110px; 
	height: auto; 
}

.marginleft	{
	margin-left: 0; 
}

footer ul li a	{
	font-family: 'segoe-light', Helvetica, Arial, Sans-Serif; 
	color: white; 
	font-size: .8em; 
	font-weight: 100; 
	display: block; 
	float: left; 
	width: 95%; 
	height: 3%; 
	margin-top: 15px; 
	text-decoration: none; 
	text-align: center; 
	margin-left: 1%; 
}

footer ul li a:hover	{
	text-decoration: underline; 
}


}