@charset "UTF-8";


/** FONTS & TYPOGRAPHY **/

h1, h2, h3, h4, h5, a, p, ul, li	{
	font-family: Helvetica, Arial, Sans-Serif; 
}


/** MY STYLES **/ 

body	{
	background-color: black; 
}

#viewport	{
	height: auto; 
}

/** NAVIGATION **/

#nav	{
	position: fixed; 
	height: 100%; 
	width: 160px; 
	float: left; 
	margin-top: 180px; 
}

#logo	{
	width: 160px; 
	height: 180px; 
	background-color: #0CF; 
}

#nav ul li a	{
	padding-left: 12px; 
	line-height: 30px; 
	height: 30px; 
	width: 146px; 
	border-top: 1px solid black; 
	border-left: 1px solid black; 
	border-right: 1px solid black; 
	display: block; 
	background-color: white; 
	text-decoration: none; 
	font-size: 13px; 
}

#nav h2	{
	position: absolute;
	top: 150px; 
	left: 13px; 	
	color: white; 
	font-size: 15px; 
}

#terminology	{
	border-bottom: 1px solid black; 
	width: 100%; 
}


/** CONTENT START **/

#intro	{
	display: block; 
	float: left; 
	width: 100%; 
	height: 750px;
	background-color: #CCC; 
}

#hub	{
	display: block; 
	float: left; 
	width: 100%; 
	height: 750px;
	background-color: white; 
}

#splash	{
	display: block; 
	float: left; 
	width: 100%; 
	height: 750px;
	background-color: #666; 
}

#livetiles	{
	display: block; 
	float: left; 
	width: 100%; 
	height: 750px;
	background-color: #CCC; 
}

#terminology	{
	display: block; 
	float: left; 
	width: 100%; 
	height: 750px;
	background-color: white; 
}

.borderbottom	{
	border-bottom: 1px solid black; 
}


/** DESCRIPTION CONTENT **/

#description	{
	display: block; 
	margin-left: 250px; 
	height: 600px; 
	width: 800px; 
}

#description h3	{
	margin-top: 135px; 
}

#description a	{
	text-decoration: none; 
	color: black; 
	font-size: 40px; 
	font-weight: 100;
}
