@charset "UTF-8";


/** FONTS & TYPOGRAPHY **/

h1, h2, h3, h4, h5, a, p, ul, li	{
	font-family: Helvetica, Arial, Sans-Serif; 
}


/** MY STYLES **/ 

body	{
	background-color: black; 
}

#viewport	{
	width: 6000px; 
	height: 100%; 
}

/** NAVIGATION **/

#nav	{
	position: fixed; 
	height: 100%; 
	width: 160px; 
	float: left; 
	margin-top: 180px; 
}

#logo	{
	width: 160px; 
	height: 180px; 
	background-color: #0CF; 
}

#nav ul li a	{
	padding-left: 12px; 
	line-height: 30px; 
	height: 30px; 
	width: 146px; 
	border-top: 1px solid black; 
	border-left: 1px solid black; 
	border-right: 1px solid black; 
	display: block; 
	background-color: white; 
	text-decoration: none; 
	font-size: 13px; 
}

#nav h2	{
	position: absolute;
	top: 150px; 
	left: 13px; 	
	color: white; 
	font-size: 15px; 
}

#terminology	{
	border-bottom: 1px solid black; 
	width: 100%; 
}



/** CONTENT START **/

#intro	{
	display: block; 
	float: left; 
	width: 1200px; 
	height: 750px;
	background-color: #CCC; 
}

#tile1	{
	float: left; 
	margin-top: 10px; 
	height: 105px; 
	width: 105px; 
	background-color: #333; 
}

#tile2	{
	float: left; 
	clear: both; 
	margin-top: 10px;
	height: 105px; 
	width: 105px; 
	background-color: #333; 
}

#tile3	{
	float: left; 
	clear: both; 
	margin-top: 10px;
	height: 105px; 
	width: 105px; 
	background-color: #333; 
}

#tile4	{
	margin-top: 10px; 
	margin-left: 115px; 
	height: 335px; 
	width: 400px; 
	background-color: #999; 
}

#description	{
	display: block; 
	margin-left: 250px; 
	height: 600px; 
	width: 800px; 
}

#description h3	{
	margin-top: 129px; 
}

#description a	{
	text-decoration: none; 
	color: black; 
	font-size: 40px; 
	font-weight: 100;
}

#hub	{
	display: block; 
	float: left; 
	width: 1200px; 
	height: 750px;
	background-color: white; 
}

#splash	{
	display: block; 
	float: left; 
	width: 1200px; 
	height: 750px;
	background-color: #666; 
}

#livetiles	{
	display: block; 
	float: left; 
	width: 1200px; 
	height: 750px;
	background-color: #CCC; 
}

#terminology	{
	display: block; 
	float: left; 
	width: 1200px; 
	height: 750px;
	background-color: white; 
}

.borderbottom	{
	border-bottom: 1px solid black; 
}

/** HOVER STATES **/

span	{
	position: relative; 
}

span div	{
	position: absolute; 
	background-color: white; 
	color: black; 
	cursor: pointer; 
	padding: 0px; 
	border: 0px; 
	width: 0px; 
	opacity: 0; 
	display: block; 
}

span:hover div	{
	padding: 0px 0px 0px 2px; 
	border: 1px solid #000; 
	width: 350px; 
	height: 300px; 
	opacity: 1; 
	display: block; 
	
     transition: width, border opacity .0s linear .5s;
    -webkit-transition: width, border opacity .0s linear .5s;
    -moz-transition: width, border opacity .0s linear .5s;
    -ms-transition: width, border opacity .0s linear .5s;
    
    transition: opacity .5s linear .5s;
    -webkit-transition: opacity .5s linear .5s;
    -moz-transition: opacity .5s linear .5s;
    -ms-transition: opacity .5s linear .5s;
}
